{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="container-fluid px-4">
        <div class="card mt-4">
            <div class="card-header">
                <h4>Adicionar Despesa</h4>
                <a type="button" class="btn btn-dark float-end" href="{%url 'add-categoria' %}">Nova Categoria</a>
            </div>
            <div class="card-body" style="overflow-x:auto;">
                <form action="{% url 'add-gasto' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.detalhes.errors}}
                        <label for="">Detalhes</label>
                        <input type="text" name="detalhes" class="form-control form-control-sm">
                    </div>
                    <div class="form-groupr row mb-5">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Categoria</label>
                        <div class="form-check form-check-inline">{{ form.categoria }}</div>
                    </div>
                    <div class="form-group">
                        {{form.valor_despesa.errors}}
                        <label for="">Valor gasto</label>
                        <input type="number" name="valor_despesa" class="form-control form-control-sm">
                    </div>

                    <div class="form-group">
                        {{form.data.errors}}
                        <label for="">Data</label>
                        <input type="date" name="data" class="form-control form-control-sm">
                    </div>

                    <input type="submit" id="submit" value="Adicionar gasto" class="btn btn-primary mt-3 btn-primary-sm">
                    <a type="button" class="btn btn-danger mt-3" href="{%url 'main' %}">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}