{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid px-4">
    <div class="card mt-4">
        <div class="card-header">
            <h4>Criar Categoria</h4>
        </div>
        <div class="card-body" style="overflow-x:auto;">
            <form method="post">
                {% csrf_token %}
                {{form | crispy}}
                <a type="button" class="btn btn-danger mt-3" href="{%url 'list-categoria' %}">Cancelar</a>
                <button type="submit" class="btn btn-success mt-3">Salvar categoria</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}