{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid px-4">
    <div class="card mt-4">
        <div class="card-header">
            <h4>Editar Gasto</h4>
        </div>
        <div class="card-body" style="overflow-x:auto;">
            <form action="{% url 'update-gasto' gasto.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Descrição</label>
                    <input type="text" name="detalhes" class="form-control form-control-sm" id="" value="{{valor.detalhes}}" required>
                </div>
                <div class="form-group">
                    <label for="">Categoria</label>
                    <select class="form-control" name="categoria"">
                        <option selected name="categoria" value="{{valor.categoria}}">{{valor.categoria}}</option>
                        {% for categoria in categorias %} 
                        <option name="categoria" value="{{categoria.nome}}">{{categoria.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Valor gasto</label>
                    <input type="number" name="valor_despesa" class="form-control form-control-sm" id="" value="{{valor.valor_despesa}}" required>
                </div>
                <div class="form-group">
                    <label for="">Data</label>
                    <input type="date" name="data" class="form-control form-control-sm" value="{{valor.data | date:'Y-m-d'}}" id=""required>
                </div>
                <a type="button" class="btn btn-danger mt-3" href="{%url 'main' %}">Cancelar</a>
                <input type="submit" value="Salvar alterações" class="btn btn-primary mt-3 btn-primary-sm">
            </form>
        </div>
    </div>
</div>
{% endblock %}