{% extends 'base.html' %}
{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">   
    <div class="container-fluid px-4">
        <div class="card mt-4">
            <div class="card-header">
                <h4>Home</h4>
            </div>
            {% include 'msgs.html' %}
            <div class="card-body" style="overflow-x:auto;">
                
            </div>
        </div>
    </div>
</div>
    
{% endblock %}